# TeamsFx files
env/.env.*.user
env/.env.dev
env/.env.local
env/.env.playground
.env
appPackage/build/*.zip

# python virtual environment
.venv/
__pycache__/

# others
.deployment/
node_modules/
devTools/*.log

# Dev tool directories
/devTools/

# DS_Store
.DS_Store